name: Go
on: [push]
jobs:
  test:
    strategy:
      matrix:
        go:
          - "1.20"
          - "1.21"
    name: Build
    runs-on: ubuntu-latest
    steps:
      - name: Set up Go
        uses: actions/setup-go@v4
        with:
          go-version: ${{ matrix.go }}
        id: go

      - name: Check out code into the Go module directory
        uses: actions/checkout@v4

      - name: Build & Test
        env:
          GO111MODULE: on
        run: |
          go test -v .
